@font-face {
  font-family: "PMingLiU";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/PMingLiU.woff2") format("woff2");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  @page {
    margin: 0; /* this affects the margin in the printer settings */
    size: a4 portrait;
  }
}
